
.center{
    display: flex;
       justify-content: center;
        align-items: center; /* align item vertically */
}

.display{
  height: 100vh;
}

.text{
  color: rgb(149, 149, 149);
}
